*{
    margin: 0px;
    border: 0px;

}
.div{
    margin: 10px;
    border: 5px solid #F16D34;
    border-radius: 10px;
    padding: 10px 10px;
}
ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color:#161E54;
    /* box-shadow: 10px 15px 8px darkgreen; */
}
ul li{
    float: left;
}
ul li a{
    display: flex;
    /* text-align:left; */
    text-decoration: none;
    color: azure;
    padding: 14px 16px;

}
ul li a:hover{
    color: #BBE0EF;
    font-size: 20px;
    /* animation: reverse; */
    animation:infinite;
}
header{
    height: 100vh;
    background-image: url(images/received_1252390948447101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 300px; */
    /* width: 250px; */
     background-color: cadetblue;
    padding: 5px;
    
    text-align: center;
    font-size: 50px;
    color: #F16D34;
}

#aboutp{
    font-size: 30px;
}
h3{
    font-size: 40px;
    text-align: center;
    color: #F16D34;
}
img{
    width: 358px;
    height: 250px;
    justify-content: space-between;
    justify-content: center;
}
img:hover{
    width: 366px;
    height: 255px;
    box-shadow: 10px 10px 5px gray;
}
footer{
    background-color: #161E54;
        color: #BBE0EF;
        padding: 16px 20px;
        display: flex;
        padding: 20px 30px;
}